*.iml
.autoddl
data
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
lib/local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/.fastRequest
/shared/src/commonMain/kotlin/com/addzero/kmp/generated.zip
secring.gpg
lib/key.gpg
